// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

@use "sass:map";

.section
{
	@include flex( $dir: column );
	text-align: center;
}



/**
 * the cover section with greetings 
 */
#cover
{
	#hello
	{
		font-size: 5rem;
	}

	#my-name
	{
		font-size: 3rem;

		#name
		{
			color: $nord8;
			font-weight: 800;
		}
	}

	#description
	{
		margin-top: 1rem;
		font-size: 1.5rem;
	}
}



/**
 * the about me section
 */
#about
{
	&-content
	{
		@include flex( $dir: row );
		
		p
		{
			width: 70%;
			margin: 1rem;
			text-align: left;
		}

		img
		{
			width: 15rem;
			margin: 1rem;
			clip-path: circle( 5.5rem );
		}
	}
}



/**
 * the skills section
 */
#skills
{
	.skills
	{
		&-container
		{
			@include flex( $dir: row );
		}

		&-item
		{
			margin: 1rem;
		}
	}
}



/**
 * the projects section
 */
#projects
{
	.project
	{
		
	}
}



/**
 * the contact form section
 */
#contact
{
	.contact
	{
		&-form
		{
			width: 100%;
			@include flex( $dir: row );
		}

		&-input
		{
			margin: 0.5rem;
			padding: 0.5rem;
			height: 3rem;

			border: 0;
			border-radius: 0.3rem;
		}
	}

	#name-input, #email-input
	{
		width: calc( 50% - 1rem );

		@media( max-width: map.get( $breakpoints, 'medium' ) )
		{
			width: calc( 100% - 1rem );
		}
	}

	#subject-input, #message-input
	{
		width: calc( 100% - 1rem );
	}

	#message-input 
	{
		height: 10rem;
	}
}
