doctype html
html( lang='en' )
	head
		title Ross Shen - Better School Life
		link( rel='stylesheet', href='../stylesheets/main.css' )
		script( src = '../js/nav.js', defer )
	body.container
		header.nav
			div.nav-bar
				a.nav-bar-name( href = '../index.html' )
					| Ross Shen
				button.nav-bar-toggle
					img(
						src = '../assets/icons/hamburger.svg',
						alt = 'Menu toggle',
						width = '48px',
					)
			nav.nav-menu
				a.nav-menu-link( href = '../index.html' )
					| Home
					
		h1
			| Better School Life
		p
			| Better school life is a fast-paced campus experience game in which multi-players will act as school students to finish a whole semester. Players need to find the balance between study and relaxation, make sure to keep yourself in a good mood and try to get high grades for this semester.

		h2
			| Concept
		p 
			| Many university students have trouble balancing their study and personal life. Oftentimes, they neglect mental well-being while pursuing a good academic performance. For example, some students don’t deal with the problems actively or seek help when encountering an emotional setback. In this case, an unhealthy mental state will impact their well-being dramatically. Using this game, we hope to address this issue and raise people’s awareness of the mental health issues among university students.

		h2
			| Game Elements
		img(
			src = '../assets/images/betterSchoolLifeCards.png',
			alt = 'The different kinds of cards for Better School Life',
			width = '100%',
		)
		img(
			src = '../assets/images/betterSchoolLifeOverall.png',
			alt = 'Overall event card for Better School Life',
			width = '100%',
		)
		img(
			src = '../assets/images/betterSchoolLifeBoard.png',
			alt = 'The gameboard for Better School Life',
			width = '100%',
		)

		h2
			| My Roles
		p 
			| Our team collectively brainstormed and came up with the idea of making a board game about school life. My role was rapid prototyper, I was responsible for the development of the game items and prototype in Tabletop simulator. I was also highly engaged in the mechanic design process, especially for standardizing the mechanics into procedures and rules. 

		h2
			| External Links
		ul
			li
				a(
					href = 'https://sites.google.com/view/betterschoollife/',
					target = '_blank',
					rel ='noopener noreferrer'
				)
					| Game website
			li 
				a(
					href = 'https://youtu.be/92-hs7qiPXc',
					target = '_blank',
					rel ='noopener noreferrer'
				)
					| Game trailer
			li 
				a(
					href = 'https://youtu.be/PgMWZpLdQWo',
					target = '_blank',
					rel ='noopener noreferrer'
				)
					| Game introduction video

		a.btn-primary( href = '../index.html#projects' )
			| Back
