header.nav
	div.nav-bar
		a.nav-bar-name( href = 'index.html' )
			| Ross Shen
		button.nav-bar-toggle
			img(
				src = '../assets/icons/hamburger.svg',
				alt = 'Menu toggle',
				width = '48px',
			)
	nav.nav-menu
		a.nav-menu-link( href = '#about' )
			| About
		a.nav-menu-link( href = '#skills' )
			| Skills
		a.nav-menu-link( href = '#projects' )
			| Projects
		a.nav-menu-link( href = '#contact' )
			| Contact
