mixin svg( filename )
	case filename
		when 'html5'
			include ../svg/webgl.svg
		when 'css3'
			include ../svg/css3.svg
		when 'angular'
			include ../svg/angular.svg
		when 'git'
			include ../svg/git.svg
		when 'jsavascript'
			include ../svg/javascript.svg
		when 'nodejs'
			include ../svg/nodejs.svg
		when 'typescript'
			include ../svg/typescript.svg
		when 'webgl'
			include ../svg/webgl.svg
