// -----------------------------------------------------------------------------
// This file contains all styles related to the sections of the site/application.
// ----------------------------------------------------------------------------

.snap-container 
{
	scroll-snap-type: y mandatory;
}

.section
{
	scroll-snap-align: start;
	min-height: calc( 100vh - 5rem );
	padding-top: 5rem;
	padding-bottom: 5rem;
}
