doctype html
html( lang='en' )
	head
		title Ross Shen - Portfolio
		link( rel='stylesheet', href='./stylesheets/main.css' )
		script( src = './js/nav.js', defer )
	body.container.snap-container
		header.nav
			div.nav-bar
				a.nav-bar-name( href = 'index.html' )
					| Ross Shen
				button.nav-bar-toggle
					img(
						src = '../assets/icons/hamburger.svg',
						alt = 'Menu toggle',
						width = '48px',
					)
			nav.nav-menu
				a.nav-menu-link( href = '#about' )
					| About
				a.nav-menu-link( href = '#skills' )
					| Skills
				a.nav-menu-link( href = '#projects' )
					| Projects
				a.nav-menu-link( href = '#contact' )
					| Contact

		section#cover.section
			span#hello
				| Hello,
			span#my-name
				| My name is 
				span#name Ross Shen
				| .
			span#description
				| A full-stack web developer aiming to provide critical and creative solutions.

		section#about.section
			h1
				| About
			div#about-content
				img( 
					src = '../assets/images/profile.jpg', 
					alt = 'A comical drawing of Ross coding at a table with one hand holding a cup of coffee', 
					width = '200px' 
				)
				p
					| Over the past few years, I have been working towards a Computing Science degree. As I proceed my academic career, I have developed strong interest in web development and accomplished outstanding web projects. I truly believe the future is migrating to a broswer-centric workflow with the rising of web applications, which leads to my passion for creating interactive applications and delivering smooth web experience. I would love to hear your innovative ideas and let's make them into reality!

		section#skills.section
			h1
				| Skills
			div.skills-container
				-
					var skills =
					[ 
						'html5', 
						'css3',
						'javascript', 
						'pug',
						'sass',
						'typescript', 
						'angular', 
						'nodejs', 
						'webgl', 
						'git', 
					]
				each s in skills
					img.skills-item(
						src = '../assets/icons/' + s + '.svg',
						alt = 'A logo of ' + s,
						width = '100px'
						height = '100px'
					)

		section#projects.section
			h1
				| Projects
			div.projects-container
				a#case-deck.projects-item.card( href = './view/caseDeck.html' )
					img(
						src = '../assets/images/caseDeck.png',
						alt = 'A 3D rendered image used as a background of Case Deck website',
						width = '200px'
					)
					div.description
						h2
							| Case Deck
						p
							| A digital product for BC HRT users to find specific relevant cases to support their case in court.

		section#contact.section
			h1
				| Contact
			form.contact-form
				label.visually-hidden( for='name-input' )
					| Name
				input#name-input.contact-input( type='text', placeholder='Your name*', name='name', required )
				label.visually-hidden( for='email-input' )
					| Email
				input#email-input.contact-input( type='email' placeholder='Your Email*', name='email', required )
				label.visually-hidden( for='subject-input' )
					| Subject
				input#subject-input.contact-input( type='text' placeholder='Subject*', name='subject', required )
				label.visually-hidden( for='message-input' )
					| Message
				textarea#message-input.contact-input( placeholder='Your Message*', name='message', required )
				input#submit-input.btn-primary( type='submit' value='submit' )
